.notification-user {
    width: 100%;
    height: 6rem;
    background-color: #f9f9f9;
    border-radius: 8px;
    padding: 5px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    max-width: 400px;
}

h2 {
    text-align: center;
    font-size: 18px;
    color: #40D7DD;
    margin-bottom: 15px;
}

.error {
    color: #ff6347;
    font-weight: bold;
    text-align: center;
}

.friend-requests-list {
    list-style: none;
    padding: 0;
    margin: 0;
}

.friend-request-item {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;
    margin-bottom: 15px;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 8px;
    background-color: #fff;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.05);

    section {
        display: flex;
        justify-content: center;
        align-items: center;
    }
}

.friend-request-photo {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    object-fit: cover;
    margin-right: 15px;
}

.friend-request-info {
    flex: 1;
}

.friend-request-info h3 {
    font-size: 16px;
    margin: 0 0 5px;
    color: #333;
}

.friend-request-info p {
    font-size: 14px;
    margin: 0;
    color: #666;
}

.friend-request-actions {
    display: flex;
    gap: 10px;
}

.accept-button,
.reject-button {
    padding: 5px 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    color: white;
    font-weight: bold;
    transition: background-color 0.3s;
}

.accept-button {
    background-color: #4caf50;
}

.reject-button {
    background-color: #f44336;
}

.accept-button:hover {
    background-color: #45a049;
}

.reject-button:hover {
    background-color: #e53935;
}